[jenkins_controller]
jenkins-controller ansible_host=<PUBLIC_IP> private_ip=<PRIVATE_IP>

[jenkins_agent]
jenkins-agent ansible_host=<PUBLIC_IP> private_ip=<PRIVATE_IP>

[sonarqube_servers]
sonarqube ansible_host=<PUBLIC_IP> private_ip=<PRIVATE_IP>

[devops:children]
jenkins_controller
jenkins_agent
sonarqube_servers

[devops:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/i27-helpdesk-aws
ansible_python_interpreter=/usr/bin/python3
